.form {
    max-width: 50rem;
    margin: calc(0px - 1.5rem) auto 2rem;
    display: grid;
    grid-template-columns: 1fr 100px;
}

.form input[type="text"] {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    padding: 1rem;

    border-radius: 8px;
    color: var(--gray-300);
}

.form button[type="submit"] {
    background-color: var(--blue-700);
    margin-left: 0.5rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: bold;

    border-radius: 8px;
    border: none;
    outline: none;

    cursor: pointer;
    transition: all 0.2s ease;
}

.form button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.form button[type="submit"]:not(:disabled):hover {
    background-color: var(--blue-400);
}

.main {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 2rem 0;
}

.main header {
    display: flex;
    justify-content: space-between;
}

.created {
    color: var(--blue-400);
    font-weight: bold;
}

.created span, .completed span {
    background-color: var(--gray-400);
    color: var(--gray-100);
    padding: 0.125rem 0.5rem;
    border-radius: 8px;
    margin-left: 0.5rem;
}

.completed {
    color: var(--purple-500);
    font-weight: bold;
}

.tasks {
    margin-top: 1.5rem;
}

.noTasks {
    border-top: 2px solid var(--gray-400);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    margin: 4rem 0;
    color: var(--gray-300);
    line-height: 1.6;
}

.noTasks strong {
    margin-top: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }

    .main header {
        margin: 1rem;
    }

    .form {
        margin: calc(0px - 1.5rem) 1rem 2rem;
    }

    .tasks, .noTasks {
        margin: 0 1rem;
    }
}